<% content_for(:title, "#{current_user.name}さんのプロフィール") %>

<div class="text-black">
  <div class="flex items-center justify-center">
    <div class="ml-4 mt-8 mb-4 border border-black p-4 rounded-md shadow-md accent-color">
      <div class="mb-3 text-center">
        <%= link_to 'Profile Edit', edit_profile_path, class: 'border-black btn accent-color hover:bg-white text-black shadow-md md:text-lg text-sm whitespace-nowrap' %>
      </div>
      <div class="mb-4 border border-black base-color rounded-md p-2">
        <div class="text-xl font-bold mb-1">name</div>
        <div><%= current_user.name %></div>
      </div>

      <div class="mb-4 border border-black base-color rounded-md p-2">
        <h1 class="text-xl font-bold mb-1">e-mail</h1>
        <h2><%= current_user.email %></h2>
      </div>

      <div class="mb-4 border border-black base-color rounded-md p-2">
        <h1 class="text-xl font-bold mb-1">自己紹介</h1>
        <h2><%= current_user.self_introduction %></h2>
      </div>

      <div class="mb-4 border border-black base-color rounded-md p-2">
        <h1 class="text-xl font-bold mb-1">avatar</h1>
        <%= image_tag @user.avatar_url, id: 'avatar-preview', class: ' mx-auto w-64 h-64 object-cover rounded-md' %>
      </div>

      <div class="mb-4">
        <%= link_to 'Line通知機能ON', line_events_show_path, class: 'shadow-md m-3 px-4 py-2 bg-lime-500 text-white rounded-full hover:bg-lime-700 transition duration-300 ease-in-out
        md:text-lg text-sm whitespace-nowrap' %>
      </div>
    </div>
  </div>
</div>
