<% content_for(:title, "#{current_user.name}さんのプロフィール") %>

<%= turbo_frame_tag current_user do %>
  <!-- ターボを使っているのでここにフラッシュメッセージのパーシャルファイルを設置。 -->
  <%= render 'shared/flash_message'%>
  <div class="text-black">
    <div class="flex items-center justify-center">
      <div class="mt-8 mb-4 border border-black p-4 rounded-md shadow-md accent-color md:w-1/2">
        <div class="mb-3 text-center">
          <%= link_to 'Profile Edit', edit_profile_path, class: 'border-black btn accent-color hover:bg-white text-black shadow-md md:text-lg text-sm whitespace-nowrap' %>
        </div>

        <div class="mb-4 border border-black base-color rounded-md p-3">
          <div class="text-lg text-gray-500 mb-1">name</div>
          <div class="text-xl font-bold"><%= current_user.name %></div>
        </div>

        <div class="mb-4 border border-black base-color rounded-md p-3">
          <div class="text-lg text-gray-500 mb-1">e-mail</div>
          <div class="text-xl font-bold"><%= current_user.email %></div>
        </div>

        <div class="mb-4 border border-black base-color rounded-md p-3">
          <div class="text-lg text-gray-500 mb-1">自己紹介</div>
          <div class="font-bold whitespace-pre-line"><%= current_user.self_introduction %></div>
        </div>

        <div class="mb-4 border border-black base-color rounded-md p-3">
          <h1 class="text-lg text-gray-500 mb-1">avatar</h1>
          <%= image_tag @user.avatar_url, id: 'avatar-preview', class: 'mx-auto w-full h-full object-cover rounded-md mb-4' %>
        </div>

        <div class="mb-4 text-center">
          <% if @user.line_id.present? %>
            <%= link_to '連携したline_idを削除する', line_events_path(id: current_user.id), data: { turbo_method: :put, turbo_confirm: "本当に削除しますか？" }, class: "shadow-md m-3 px-4 py-2 bg-lime-500 text-white rounded-full hover:bg-lime-700 transition duration-300 ease-in-out md:text-lg text-sm whitespace-nowrap" %>
          <% else %>
            <%= link_to 'Line通知機能ON', line_events_show_path, class: 'shadow-md m-3 px-4 py-2 bg-lime-500 text-white rounded-full hover:bg-lime-700 transition duration-300 ease-in-out md:text-lg text-sm whitespace-nowrap' %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
<%end%>