<% content_for(:title, t('.title')) %>

<div class="min-h-screen flex items-center justify-center text-black">
    <div class="max-w-md p-6 bg-white rounded-md shadow-md">
      <h1 class="text-2xl font-bold mb-6">パスワードリセット</h1>
  
      <%= form_with model: @user, url: password_reset_path(@token), local: true do |f| %>
        <div class="mb-4">
          <%= f.label :email, class: "block text-gray-700 text-sm font-bold mb-2" %>
          <%= @user.email %>
        </div>
  
        <div class="mb-4">
          <%= f.label :password, class: "block text-gray-700 text-sm font-bold mb-2" %>
          <%= f.password_field :password, class: "appearance-none border rounded w-full py-2 px-3 leading-tight focus:outline-none focus:shadow-outline bg-white" %>
        </div>
  
        <div class="mb-4">
          <%= f.label :password_confirmation, class: "block text-gray-700 text-sm font-bold mb-2" %>
          <%= f.password_field :password_confirmation, class: "appearance-none border rounded w-full py-2 px-3 leading-tight focus:outline-none focus:shadow-outline bg-white" %>
        </div>
        <div class="text-center">
        <%= f.submit "更新する", class: "bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" %>
        </div>
      <% end %>
    </div>
  </div>