<div id="comment-<%= comment.id %>">
<%= link_to user_path(comment.user) do %>
<h6><%= image_tag comment.user.avatar_url, id: 'avatar-preview', size: '100x100', style: 'border-radius: 50%;' %>
  <%end%></h6>
<h6><%= comment.user.name %>さん</h6>
<h6><%= comment.body %></h6>

<!-- ログインしていないユーザー&コメントしたユーザー以外は編集不可 -->
<%if logged_in? && current_user.own?(comment) %>
<%= link_to 'コメントを削除する',comment_path(comment), data: { turbo_method: :delete, turbo_confirm: "コメントを削除しますか？" } %>
<%end%>
<h6>--------------------------------------------------------------------------</h6>
</div>