<div class="bg-white rounded-md shadow-md p-6 mb-6">
    <h1 class="text-xl font-semibold mb-2">・猫の名前</h1>
    <h3 class="text-lg font-semibold mb-4"><%= cat.decorate.cat_name %></h3>

    <h1 class="text-xl font-semibold mb-2">・飼い主さんのお名前</h1>
    <h4 class="text-lg font-semibold mb-4"><%= cat.user.name %></h4>

    <h3 class="text-xl font-semibold mb-2"><%= cat.decorate.cat_name %>の紹介</h3>
    <h4 class="text-lg mb-4"><%= cat.self_introduction %></h4>

    <!-- ボタン類 -->
    <div class="flex space-x-2">
      <%= link_to '詳細', admin_cat_path(cat), class: 'text-blue-500 hover:underline' %>
      <%= link_to '編集', edit_admin_cat_path(cat), class: 'text-green-500 hover:underline' %>
      <%= link_to '削除', admin_cat_path(cat),
                  class: 'text-red-500 hover:underline',
                  data: { turbo_method: :delete, turbo_confirm: "#{cat.decorate.cat_name}の情報を削除しますか？" } %>
    </div>
  </div>    