<%= simple_form_for @cat, url: admin_cat_path(@cat)  do |f| %>
  <%= f.input :name %>
  <%= f.collection_select :user_id, User.order(:name), :id, :name, prompt: "飼い主を選択してください" %>
  <!-- 他のフォームフィールドもここに追加 -->
  <%= f.input :birthday, as: :date, start_year: Date.today.year - 100, end_year: Date.today.year %>
  <%= f.input :self_introduction %>
  <%= f.input :gender %>
  <!-- CatBreedの選択セレクトボックス -->
  <%= f.collection_select :cat_breed_id, CatBreed.order(:name), :id, :name, prompt: "猫の種類を選択してください" %>

  <div class="mb-3">
    <%= f.label :avatar, for: 'avatar-file' %>
    <%= f.file_field :avatar, id: 'avatar-file', class: "form-control", accept: 'image/*', onchange: "previewImage(this);" %>
    <%= f.hidden_field :avatar_cache %>
  </div>
  <div class="mb-3">
    <%= image_tag @cat.avatar_url, id: 'preview', size: '300x200' %>
  </div>

  <%= f.button :submit, "猫を更新する" %>
<% end %>