<%= form_with(model: user, class: "mb-4") do |f| %>
    <div class="mb-4">
      <%= f.label :name, class: "block text-sm font-bold text-gray-700" %>
      <%= f.text_field :name, class: "form-input mt-1 block w-full rounded-md focus:outline-none focus:shadow-outline-blue focus:border-blue-300 bg-white" %>
    </div>

    <div class="mb-4">
      <%= f.label :email, class: "block text-sm font-bold text-gray-700" %>
      <%= f.email_field :email, class: "form-input mt-1 block w-full rounded-md focus:outline-none focus:shadow-outline-blue focus:border-blue-300 bg-white" %>
    </div>

    <div class="mb-4">
      <%= f.label :password, class: "block text-sm font-bold text-gray-700" %>
      <%= f.password_field :password, class: "form-input mt-1 block w-full rounded-md focus:outline-none focus:shadow-outline-blue focus:border-blue-300 bg-white" %>
    </div>

    <div class="mb-4">
      <%= f.label :password_confirmation, class: "block text-sm font-bold text-gray-700" %>
      <%= f.password_field :password_confirmation, class: "form-input mt-1 block w-full rounded-md focus:outline-none focus:shadow-outline-blue focus:border-blue-300 bg-white" %>
    </div>

    <div class="mb-4">
      <%= f.submit "新規登録", class: "bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline-blue" %>
    </div>
  <% end %>

<!-- ラベルで表示を変える -->
