<!-- 使ってない -->
<h1>・猫の名前</h1>
<h1><%= cat.decorate.cat_name %></h1>
<h1>・猫ちゃんの猫種</h1>
<h1><%= cat.cat_breed.name  %></h1>
<h1>・この猫ちゃんの紹介</h1>
<h1><%= cat.self_introduction %></h1>
<h1>・この猫ちゃんの性別</h1>
<h1><%= cat.gender_i18n %></h1>
<h1>・この猫ちゃんの写真
<h1><%= image_tag cat.avatar_url, id: 'avatar-preview', size: '300x200' %></h1>

<%= link_to "#{cat.decorate.cat_name}の詳細ページ",cat_path(cat) %>