<div class = "text-black flex">
    <!-- <h1 class="text-4xl font-bold text-black p-4"> -->
      <%#= link_to 'ネコミュニティ', root_path %>
    <!-- </h1> -->
    <%= link_to root_path, class:'p-1' do %>
    <%= image_tag 'logo.png', size: "100x100"  %>
    <%end%>
    <div class="drawer-end flex items-center">
        <input id="drawer" type="checkbox" class="drawer-toggle" />
      <label for="drawer" class="drawer-button right-0 m-4 absolute">
          <i id="bars" class="fa-solid fa-bars fa-2x"></i>
      </label>
      <div class="drawer-side z-10">
          <label for="drawer" class="drawer-overlay"></label>
          <ul class="menu p-4 w-80 h-full accent-color text-base-content text-black">
            <div class="mt-8">
              <div class="mb-4"><%= link_to '投稿一覧', posts_path, class: 'mt-5 whitespace-nowrap md:text-lg text-sm' %></div>
              <div class="mb-4"><%= link_to 'Sign Up',new_user_path, class: 'mt-5 md:text-lg text-sm' %></div>
              <div class="mb-4"><%= link_to 'Login',login_path, class: ' mt-5 whitespace-nowrap md:text-lg text-sm' %></div>
            </div>
            </ul>
        </div>
      </div>
</div>
