<div class="text-black flex">
  <%= link_to posts_path, class:'p-1' do %>
  <%= image_tag 'logo.webp', size: "100x100"  %>
  <%end%>
  <div class="drawer-end flex items-center">
    <input id="drawer" type="checkbox" class="drawer-toggle" />
  <label for="drawer" class="drawer-button right-0 m-4 absolute">
      <i id="bars" class="fa-solid fa-bars fa-2x"></i>
  </label>
  <div class="drawer-side z-10">
      <label for="drawer" class="drawer-overlay"></label>
      <ul class="menu p-4 w-80 h-full accent-color text-base-content text-black">
        <div class="mt-8">
          <div class="mb-4"><%= link_to '投稿一覧', posts_path, class: 'mt-5 whitespace-nowrap md:text-lg text-sm' %></div>
          <div class="mb-4"><%= link_to '動物病院検索', search_maps_path, class: 'mt-5 md:text-lg text-sm' %></div>
          <div class="mb-4"><%= link_to 'マイ猫\'s', cats_path, class: ' mt-5 whitespace-nowrap md:text-lg text-sm' %></div>
          <div class="mb-4"><%= link_to "#{current_user.name}さん",profile_path, class: ' mt-5 whitespace-nowrap md:text-lg text-sm' %></div>
          <div class="mb-4"><%= link_to 'Logout', logout_path, data: { turbo_method: :delete, turbo_confirm: 'ログアウトしますか？' }, class: ' mt-5 whitespace-nowrap md:text-lg text-sm' %></div>
        </div>
        </ul>
    </div>
  </div>
</div>