<h3><%= post.user.name%></h3>
<h3><%=post.title%></h3>
<h4><%= post.body%></h4>
<% if post.cat.present? %>
  <h3>・猫ちゃんの名前</h3>
  <h3><%= post.cat.name %></h3>
<%end%>
<h5><%= post.created_at %></h5>

<%= link_to '詳細',admin_post_path(post) %>
<%= link_to '編集',edit_admin_post_path(post) %>
<%= link_to '削除',admin_post_path(post), data: { turbo_method: :delete, turbo_confirm: "投稿を削除しますか？" } %>
<h1>---------------------------------------------------------------------</h1>