<div class="container mx-auto mt-8">
  <h1 class="text-3xl font-semibold mb-6">投稿詳細</h1>

  <div class="bg-white rounded-md shadow-md p-6 mb-6 text-black">
    <h1 class="text-2xl font-semibold mb-2"><%= @post.title %></h1>

    <h2 class="text-lg font-semibold mb-4"><%= @post.body %></h2>

    <!-- 投稿画像 -->
    <%= image_tag @post.photo_url, id: 'avatar-preview', class: 'mb-4 rounded-md shadow-md' %>

    <% if @post.cat.present? %>
      <div class="mb-4">
        <h2 class="text-xl font-semibold mb-2">・猫ちゃんの名前</h2>
        <h2 class="text-lg font-semibold mb-4"><%= @post.cat.name %></h2>

        <h2 class="text-xl font-semibold mb-2">猫ちゃんのプロフィール画像</h2>
        <%= image_tag @post.cat.avatar_url, id: 'avatar-preview', size: '100x100', class: 'rounded-full shadow-md' %>
      </div>
    <% end %>

    <div class="mb-4" >
    <h2 class="text-lg mb-4">
      <h2 class="text-xl font-semibold mb-2">投稿作成日時</h2>
      <%= @post.created_at.strftime('%Y年%m月%d日 %H時%M分') %>
    </h2>
  </div>

    <div class="mb-4">
      <h2 class="text-xl font-semibold mb-2">投稿者名</h2>
      <h2 class="text-lg font-semibold mb-4"><%= @post.user.name %></h2>
    </div>

    <!-- ボタン類 -->
    <div class="flex space-x-2">
      <%= link_to '編集', edit_admin_post_path(@post), class: 'text-green-500 hover:underline', id: "admin-post-for-show-edit-id-#{@post.id}" %>
      <%= link_to '削除', admin_post_path(@post), 
                  class: 'text-red-500 hover:underline',
                  data: { turbo_method: :delete, turbo_confirm: "投稿を削除しますか？" }, id: "admin-post-for-show-delete-id-#{@post.id}" %>
    </div>
  </div>
</div>