<div class="bg-slate-300 p-6 rounded-md shadow-md">
  <h1 class="text-2xl font-bold mb-4"><%= "⚪︎#{@cat.decorate.cat_name}の健康記録ページ" %></h1>

  <% if @cat.birthday.present? %>
    <h1 class="text-lg mb-2">現在は<%= "#{@cat.decorate.cat_age}" %></h1>
  <% end %>

  <h4 class="mb-4"><%= link_to "新規記録作成", new_health_record_path, class: "text-blue-500 underline" %></h4>


<!-- <% @health_records.each do |record| %>
  <h1><%= record.cat.name %></h1>
<% end %> -->
<div class="grid gap-4">
<%= render @health_records %>
</div>

</div>