<div class="container mx-auto mt-8">
  <h1 class="text-3xl font-semibold mb-6">健康記録編集ページ</h1>

  <%= form_with model: @health_record, url: admin_health_record_path(@health_record), html: { class: 'bg-white rounded-md shadow-md p-6 mb-6' } do |f| %>
    <div class="mb-4">
      <%= f.label :weight, class: "block text-gray-700 text-sm font-bold mb-2" %>
      <%= f.text_field :weight, class: "form-input text-black mt-1 block w-full border border-gray-300 rounded-md p-2" %>
    </div>

    <div class="mb-4">
      <%= f.label :note, class: "block text-gray-700 text-sm font-bold mb-2" %>
      <%= f.text_area :note, class: "form-input text-black w-full h-32 p-2 border rounded-md focus:outline-none focus:shadow-outline" %>
    </div>

    <div class="mb-4">
      <%= f.submit "更新", class: "bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" %>
    </div>
  <% end %>
</div>