<h1>Admin::HealthRecords#show</h1>
<p>Find me in app/views/admin/health_records/show.html.erb</p>

<h1><%=@health_record.cat.decorate.cat_name%>の<%= @health_record.created_at.strftime('%Y年%m月%d日%H時%M分') %>の記録</h1>

<h1>・体重</h1>
<h2><%=@health_record.weight%></h2>
<h1>・ノート</h1>
<h2><%=@health_record.note%></h2>

<%= link_to '編集',edit_admin_health_record_path(@health_record) %>
<%= link_to '削除',admin_health_record_path(@health_record), data: { turbo_method: :delete, turbo_confirm: "投稿を削除しますか？" } %>