<div class="container mx-auto mt-8">
    <h1 class="text-3xl font-semibold mb-6"><%= @health_record.cat.decorate.cat_name %>の<%= @health_record.created_at.strftime('%Y年%m月%d日%H時%M分') %>の記録</h1>
  
    <div class="bg-white rounded-md shadow-md p-6 mb-6">
      <div class="mb-4 text-black">
        <h1 class="text-xl font-semibold mb-2">体重</h1>
        <h2><%= @health_record.weight %></h2>
      </div>
  
      <div class="mb-4 text-black">
        <h1 class="text-xl font-semibold mb-2">ノート</h1>
        <h2><%= @health_record.note %></h2>
      </div>
  
      <div class="flex space-x-4">
        <%= link_to '編集', edit_admin_health_record_path(@health_record), class: "bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" %>
        <%= link_to '削除', admin_health_record_path(@health_record), data: { turbo_method: :delete, turbo_confirm: "投稿を削除しますか？" }, class: "bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" %>
      </div>
    </div>
  </div>