<div class="flex items-center justify-center">
    <%= form_with(model: @post, local: true) do |f| %>
    <%= render 'shared/error_messages', object: f.object %>
    <div class="mb-3">
        <%= f.label :title %>
        <%= f.text_field :title, class: 'shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline bg-white', required: false %>
      </div>
    
      <div class="mb-3">
        <%= f.label :body %>
        <%= f.text_area :body, rows: 5, class: 'shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline resize-none bg-white', required: false %>
      </div>
  
  <!-- 猫の選択用のドロップダウンメニュー -->
  <%= f.collection_select :cat_id, current_user.cats, :id, :name, { prompt: "猫を選択してください" }, { class: "bg-white" }  %>

  <div class="mb-3">
    <%= f.label :photo, for: 'avatar-file' %>
    <%= f.file_field :photo, id: 'avatar-file', class: "form-control", accept: 'image/*', onchange: "previewImage(this);" %>
    <%= f.hidden_field :photo_cache %>
  </div>
  <div class="mb-3">
    <%= image_tag @post.photo_url, id: 'preview', size: '300x200' %>
  </div>

  <!-- 下記よりタグ機能 -->
  <div class="mb-3">
    <%= f.label :tag %>
    <%= f.text_field :name, class: 'form-control bg-white', placeholder:",で区切ってください", value: @tags %>
    </div>

  <%= f.submit "投稿", class: "btn btn-primary mb-3" %>
<% end %>

</div>
