<div class="mx-auto max-w-md overflow-hidden rounded-lg bg-gray-400 shadow text-black mb-4">
<h2 class="text-4xl"><%= post.title %></h2>
<h1>・投稿内容</h1>
<h3 class="bg-white inline-block"><%= post.body.truncate(10)%></h3>

<div class="aspect-w-4 aspect-h-5">
<%= link_to post_path(post) do %>
<h3><%= image_tag post.photo_url, id: 'avatar-preview', class: 'object-cover' %></h3>
<% end %>
</div>

<% if post.tags.present? %>
    <h1>・タグ</h1>
    <%post.tags.each do |tag|%>
      <!-- tags テーブルの name カラムが指定された値と等しい条件を指定してpostコントローラindexに渡す -->
      <%= link_to tag.name, posts_path(q: { tags_name_eq: tag.name }), class:"btn-sm rounded-circle underline text-blue-500 ml-4" %>
      <!-- custom_styles.cssを追加してリンクの下線を消した -->
    <%end%>
<%end%>

<h1>名前</h1>
<h1><%= post.user.name %>さん</h1>
<% if post.cat.present? %>
  <h1>・猫ちゃんの名前</h1>
  <h3><%= post.cat.name %></h3>
  <h1>猫ちゃんのプロフィール画像</h1>
  <h3><%= image_tag post.cat.avatar_url, id: 'avatar-preview', size: '50x50',
     style: 'border-radius: 50%;' %></h3>
<%end%>
<h3><%= link_to '投稿詳細',post_path(post), class: 'underline text-blue-500' %></h3>

<h6>コメント数:<%= post.comments.count %></h6>

<!-- ログインしていない場合はいいね、ブックマーク、編集、削除は出さない -->
<% if logged_in? %>
  <% if current_user.own?(post) %>
    <%= link_to '投稿の編集ページ',edit_post_path(post), class: 'underline text-blue-500 ml-4' %>
    <%= link_to post_path(post),class: 'underline text-red-500 ml-4',  data: { turbo_method: :delete, turbo_confirm: "投稿を削除しますか？" } do %>
    <i class="bi bi-trash-fill"></i>
    <% end %>
    <div class ="like-bookmark">
    <i class="bi bi-heart" style="color: red;"></i><%= post.likes.count %>
    <i class="bi bi-bookmark" style="color: yellowgreen;"></i><%= post.bookmarks.count %>
  </div>
    <%end%>
  <!-- 自分の投稿はいいねとブックマークしない -->
  <!-- ログインIDとボード。ログインIDが違うかチェック -->
  <%if current_user.id != post.user.id %>
  <!-- いずれカウントもホットワイヤーで動的に表示するようにしたい -->
  <!-- いいね入力ボタン -->
  <%=render 'likes/like_button' , {post: post} %><%= post.likes.count %>
  <!-- ブックマーク入力 -->
  <%=render 'bookmarks/bookmark_button' , {post: post} %><%= post.bookmarks.count %>
  <%end%>
<%else%>
<!--ログイン前-->
  <i class="bi bi-heart" style="color: red;"></i><%= post.likes.count %>
  <i class="bi bi-bookmark"  style="color: yellowgreen;"></i><%= post.bookmarks.count %>
<% end %>
</div>
