<div class="mx-auto max-w-md overflow-hidden rounded-lg base-color shadow-2xl text-black mb-4">
  <div class="p-3">
<div class="text-4xl mb-3 text-center"><%= post.title %></div>
<div class="text-center">
<div class="accent-color rounded-md border border-black inline-block mb-3 p-2">
  <%= post.body.truncate(10)%>
</div>
</div>

<div class="aspect-w-4 aspect-h-5 mb-2">
<%= link_to post_path(post) do %>
<h3><%= image_tag post.photo_url, id: 'avatar-preview', class: 'object-cover' %></h3>
<% end %>
</div>

<!-- 投稿の削除と編集リンク -->
<% if logged_in? %>
  <% if current_user.own?(post) %>
    <div class="flex justify-end px-4 mb-2">
    <%= link_to post_path(post),class: 'underline text-red-500 ml-4',  data: { turbo_method: :delete, turbo_confirm: "投稿を削除しますか？" } do %>
      <i class="bi bi-trash-fill"></i>
    <% end %>
    <%= link_to edit_post_path(post), class: 'text-blue-500 ml-4' do %>
      <i class="bi bi-pencil-fill"></i><!-- 編集ページへのリンク -->
    <% end %>
    </div>
  <% end %>
<% end %>

<h1>・名前</h1>
<h1><%= post.user.name %>さん</h1>
<% if post.cat.present? %>
  <h1>・ネコちゃんの名前</h1>
  <h3><%= post.cat.name %></h3>
<%end%>

<h6>コメント数:<%= post.comments.count %></h6>


</div>

<div class="flex items-center justify-strat mb-4">
  <div class="mt-3 px-2">
    <% character = [0x1D54F].pack('U*') %> <!-- 「X」のアイコン生成 -->
    <%= link_to "#{character}", "https://twitter.com/intent/tweet?url=https://neko-community.com/posts/#{post.id}&text=【#{post.title}】%0a%20%23ネコミュニティ", class: "ml-2 mb-2 btn btn-sm bg-black text-white text-sm", title: 'Twitter', target: '_blank' %>
    </div>
<!-- ログインしていない場合はいいね、ブックマーク、編集、削除は出さない -->
<% if logged_in? %>
  <% if current_user.own?(post) %>
    <div class ="like-bookmark">
    <i class="bi bi-heart" style="color: red;"></i><%= post.likes.count %>
  </div>
    <%end%>
  <!-- 自分の投稿はいいねとブックマークしない -->
  <!-- ログインIDとボード。ログインIDが違うかチェック -->
  <%if current_user.id != post.user.id %>
  <!-- いずれカウントもホットワイヤーで動的に表示するようにしたい -->
  <!-- いいね入力ボタン -->
  <%=render 'likes/like_button' , {post: post} %><span id="like-count-for-post-<%= post.id %>"><%= post.likes.count %></span><!-- divだとおかしくなったためspanにした。 -->
  <%end%>
<%else%>
<!--ログイン前-->
  <i class="bi bi-heart" style="color: red;"></i><%= post.likes.count %>
<% end %>
</div>

      <!-- タグの表示 -->
<% if post.tags.present? %>
<div class="px-2 mb-4">
    <h1>・タグ</h1>
    <%post.tags.each do |tag|%>
      <!-- tags テーブルの name カラムが指定された値と等しい条件を指定してpostコントローラindexに渡す -->
      <%= link_to tag.name, posts_path(q: { tags_name_eq: tag.name }), class:"btn-sm rounded-circle underline text-blue-500 ml-4" %>
      <!-- custom_styles.cssを追加してリンクの下線を消した -->
    <%end%>
  </div>
<%end%>
</div>
