<h1>名前</h1>
<h1><%= post.user.name %></h1>
<h1>・タイトル</h1>
<h2><%= post.title %></h2>
<h1>・投稿内容</h1>
<h3><%= post.body%></h3>

<% if post.cat.present? %>
  <h1>・猫ちゃんの名前</h1>
  <h3><%= post.cat.name %></h3>
  <h1>猫ちゃんのプロフィール画像</h1>
  <h3><%= image_tag post.cat.avatar_url, id: 'avatar-preview', size: '100x100',
     style: 'border-radius: 50%;' %></h3>
<%end%>

<h3><%= image_tag post.photo_url, id: 'avatar-preview', size: '500x500' if post.photo.present? %></h3>

<%#binding.pry %>
<% if post.tags.present? %>
    <%post.tags.each do |tag|%>
      <!-- tags テーブルの name カラムが指定された値と等しい条件を指定してpostコントローラindexに渡す -->
      <h1>・タグ</h1>
      <%= link_to tag.name, posts_path(q: { tags_name_eq: tag.name }), class:"btn-sm btn-primary rounded-circle no-underline" %>
      <!-- custom_styles.cssを追加してリンクの下線を消した -->
    <%end%>
<%end%>

<h3><%= link_to '投稿詳細',post_path(post) %></h3>

<h6>コメント数:<%= post.comments.count %></h6>

<!-- ログインしていない場合はいいね、ブックマーク、編集、削除は出さない -->
<% if logged_in? %>
  <% if current_user.own?(post) %>
    <%= link_to '投稿の編集ページ',edit_post_path(post) %>
    <%= link_to '投稿内容を削除する',post_path(post), data: { turbo_method: :delete, turbo_confirm: "投稿を削除しますか？" } %>
  <%end%>
  <!-- 自分の投稿はいいねとブックマークしない -->
  <!-- ログインIDとボード。ログインIDが違うかチェック -->
  <%if current_user.id != post.user.id %>
  <!-- いずれカウントもホットワイヤーで動的に表示するようにしたい -->
    <h6>いいね数：<%= post.likes.count %></h6>
    <%=render 'likes/like_button' , {post: post} %>
    <h6>ブックマーク数：<%= post.bookmarks.count %></h6>
    <%=render 'bookmarks/bookmark_button' , {post: post} %>
  <%end%>
<% end %>
<h1>----------------------------------------------------------------</h1>
