<% content_for(:title, @post.title) %>

<div class="bg-slate-300 text-black">

<h1 class='lg:text-4xl text-black mb-4 p-3 text-xl'>投稿詳細ページ</h1>
<%= link_to '投稿一覧', posts_path, class: 'underline text-blue-500' %>

<div class="mx-auto my-auto max-w-full overflow-hidden rounded-lg bg-gray-400 shadow p-6">

  <div class="float-right flex flex-col items-center">
    <%= link_to user_path(@post.user) do %>
      <h3><%= image_tag @post.user.avatar_url, id: 'avatar-preview', class: 'w-16 h-16 md:w-20 md:h-20 lg:w-24 lg:h-24 xl:w-24 xl:h-24 rounded-full' %></h3>
    <% end %>
    <h1 class="mt-2 text-center"><%= @post.user.name %>さん</h1>
  </div>


<h2 class="text-black mb-4 p-3 lg:text-4xl text-xl"><%= @post.title %></h2>

<h3 class="bg-white inline-block mb-4"><%= @post.body%></h3>

<div class="mb-4">
<% if @post.cat.present? %>
<div class="inline-block">
    <div class="rounded-md border p-2 border-white bg-red-300">
  <h3><%= @post.cat.decorate.cat_name %></h3>
  <%= link_to cat_path(@post.cat) do %>
    <h3><%= image_tag @post.cat.avatar_url, id: 'avatar-preview', class: 'w-16 h-16 md:w-20 md:h-20 lg:w-24 lg:h-24 xl:w-32 xl:h-32 rounded-full' %></h3>
    <%end%>
</div>
</div>
<%end%>
</div>
<div class="flex items-center justify-center mb-3">
  <h3>
    <%= image_tag @post.photo_url, id: 'avatar-preview', class: 'w-full h-auto max-w-full max-h-screen' %>
  </h3>
</div>

<!-- 投稿詳細と他人のユーザー詳細と他人のcat一覧表示ページを作る -->

<% if @post.tags.present? %>
<h1 class="flex justify-center mb-2">タグ</h1>
  <%@post.tags.each do |tag|%>
  <!-- tags テーブルの name カラムが指定された値と等しい条件を指定してpostコントローラindexに渡す -->
  <!-- custom_styles.cssを追加してリンクの下線を消した -->
  <div class="mb-2 flex justify-center">
  <%= link_to tag.name, posts_path(q: { tags_name_eq: tag.name }), class:"btn-sm btn-primary rounded-circle underline text-blue-500" %>
  </div>
  <%end%>
<%end%>

<% if logged_in? %>
  <% if current_user.own?(@post) %>
  <div class="mb-4">
    <%= link_to '投稿の編集ページ',edit_post_path(@post), class: 'ml-4 underline text-blue-500' %>
    <%= link_to post_path(@post),class: 'underline text-red-500 ml-4',  data: { turbo_method: :delete, turbo_confirm: "投稿を削除しますか？" } do %>
    <i class="bi bi-trash-fill"></i>
    <% end %>
  </div>
    <%end%>
  <!-- 自分の投稿はいいねとブックマークしない -->
  <!-- ログインIDとボード。ログインIDが違うかチェック -->
  <%if current_user.id != @post.user.id %>
  <div class="flex justify-center mb-4 w-3/12">
    <%=render 'likes/like_button' , {post: @post} %><%= @post.likes.count %>
    <span style="margin-right: 10px;"></span>
    <%=render 'bookmarks/bookmark_button' , {post: @post} %><%= @post.bookmarks.count %>
  </div>
    <% end %>
<% end %>

<div class="text-center">
  <div class="mb-3">
<% if logged_in? %>
<%= render 'comments/form', { post: @post, comment: @comment} %>
<%end%>
</div>

<h1 class="lg:text-4xl text-xl">みんなのコメント</h1>
<!-- ホットワイヤーの処理のためidを付与 -->
<div id="table-comment">
<%= render @comments %>
</div>
</div>

</div>

</div>