<div class="bg-slate-300">

<h1 class='text-4xl mb-4'>投稿詳細ページ</h1>
<%= link_to '投稿一覧', posts_path, class: 'underline text-blue-500' %>

<div class="mx-auto my-auto h-screen max-w-full overflow-hidden rounded-lg bg-gray-400 shadow p-6">

<%= link_to user_path(@post.user) do %>
    <h3><%= image_tag @post.user.avatar_url, id: 'avatar-preview', size: '100x100', style: 'border-radius: 50%;' %>
  <%end%></h3>
<h1>投稿者の名前</h1>
<h1><%= @post.user.name %></h1>

<h1>・タイトル</h1>
<h2><%= @post.title %></h2>
<h1>・投稿内容</h1>
<h3><%= @post.body%></h3>

<% if @post.cat.present? %>
  <h1>・猫ちゃんの名前</h1>
  <h3><%= @post.cat.name %></h3>
  <h3>猫ちゃんの詳細</h3>
  <%= link_to cat_path(@post.cat) do %>
    <h3><%= image_tag @post.cat.avatar_url, id: 'avatar-preview', size: '100x100', style: 'border-radius: 50%;' %></h3>
  <%end%>
<%end%>

<h3><%= image_tag @post.photo_url, id: 'avatar-preview', size: '500x500' %></h3>

<%#= link_to "/" do %>
<!-- image_tagを使う形に修正してください -->
<%#= image_tag 'logo.png',class: 'navbar-brand' %> <%# end %>

<!-- 投稿詳細と他人のユーザー詳細と他人のcat一覧表示ページを作る -->

<% if @post.tags.present? %>
  <%@post.tags.each do |tag|%>
  <!-- tags テーブルの name カラムが指定された値と等しい条件を指定してpostコントローラindexに渡す -->
  <!-- custom_styles.cssを追加してリンクの下線を消した -->
  <h1>タグ</h1>
  <%= link_to tag.name, posts_path(q: { tags_name_eq: tag.name }), class:"btn-sm btn-primary rounded-circle no-underline" %>
  <%end%>
<%end%>

<% if logged_in? %>
  <% if current_user.own?(@post) %>
    <%= link_to '投稿の編集ページ',edit_post_path(@post) %>
    <%= link_to '投稿内容を削除する',post_path(@post), data: { turbo_method: :delete, turbo_confirm: "投稿を削除しますか？" } %>
  <%end%>
  <!-- 自分の投稿はいいねとブックマークしない -->
  <!-- ログインIDとボード。ログインIDが違うかチェック -->
  <%if current_user.id != @post.user.id %>
    <%=render 'likes/like_button' , {post: @post} %>
    <%=render 'bookmarks/bookmark_button' , {post: @post} %>
  <% end %>
<% end %>

<% if logged_in? %>
<%= render 'comments/form', { post: @post, comment: @comment} %>
<%end%>

<h1>コメントフォーム</h1>
<!-- ホットワイヤーの処理のためidを付与 -->
<div id="table-comment">
<%= render @comments %>
</div>

</div>

</div>