<h1>Posts#show</h1>
<p>Find me in app/views/posts/show.html.erb</p>

<h1>投稿詳細ページ</h1>

<%= link_to user_path(@post.user) do %>
    <h3><%= image_tag @post.user.avatar_url, id: 'avatar-preview', size: '100x100', style: 'border-radius: 50%;' %></h3>
  <%end%>

<h1>名前</h1>
<h1><%= @post.user.name %></h1>
<h1>・タイトル</h1>
<h2><%= @post.title %></h2>
<h1>・投稿内容</h1>
<h3><%= @post.body%></h3>

<% if @post.cat.id.present? %>
  <h1>・猫ちゃんの名前</h1>
  <h3><%= @post.cat.name %></h3>
  <h3>猫ちゃんの詳細ページ</h3>
  <%= link_to cat_path(@post.cat) do %>
    <h3><%= image_tag @post.cat.avatar_url, id: 'avatar-preview', size: '100x100', style: 'border-radius: 50%;' %></h3>
  <%end%>
<%end%>

<h3><%= image_tag @post.photo_url, id: 'avatar-preview', size: '500x500' %></h3>

<%#= link_to "/" do %>
<!-- image_tagを使う形に修正してください -->
<%#= image_tag 'logo.png',class: 'navbar-brand' %> <%# end %>

<!-- 投稿詳細と他人のユーザー詳細と他人のcat一覧表示ページを作る -->
