<!DOCTYPE html>
<html>
  <head>
    <title>管理者ページ</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script> <!-- 必要ないかも -->
    <%#= stylesheet_link_tag "admin/application", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>

    <!-- 下記ブートストラップアイコン用コード -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css" rel="stylesheet">
  </head>

  <body class="bg-gray-800 text-white">
    <%= render 'admin/shared/flash_message'%>
    <%if logged_in?%>
    <%= render 'admin/shared/header'%>
    <%end%>
    <%= yield %>
    <%= render 'admin/shared/footer'%>
  </body>
</html>
