<h1>猫登録ページ</h1>

<%= simple_form_for @cat, url: cats_path, method: :post do |f| %>
  <%= f.input :name %>
  <!-- 他のフォームフィールドもここに追加 -->
  <%= f.input :birthday, as: :string, input_html: { type: "date" }  %>
  <%= f.input :self_introduction %>
  <%= f.input :gender %>
  <%#= f.association :cat_breed, label: "猫の種類" %>

  <div class="mb-3">
    <%= f.label :avatar, for: 'avatar-file' %>
    <%= f.file_field :avatar, id: 'avatar-file', class: "form-control", accept: 'image/*', onchange: "previewImage(this);" %>
    <%= f.hidden_field :avatar_cache %>
  </div>
  <div class="mb-3">
    <%= image_tag @cat.avatar_url, id: 'avatar-preview', size: '300x200' %>
  </div>

  <%= f.button :submit, "猫を登録する" %>
<% end %>