<div class="container mx-auto mt-8 text-black">
  <h1 class="text-3xl font-semibold mb-6 text-white"><%= @user.name %>の編集ページ</h1>

  <div class="bg-white rounded-md shadow-md p-6 mb-6">
    <%= form_with(model: @user, url: admin_user_path(@user), local: true) do |f| %>
      <div class="mb-4">
        <%= f.label :name, class: "block text-gray-700 text-sm font-bold mb-2" %>
        <%= f.text_field :name, class: "form-input w-full px-3 py-2 placeholder-gray-400 border rounded-md focus:outline-none focus:shadow-outline-blue focus:border-blue-300" %>
      </div>
    
      <div class="mb-4">
        <%= f.label :email, class: "block text-gray-700 text-sm font-bold mb-2" %>
        <%= f.email_field :email, class: "form-input w-full px-3 py-2 placeholder-gray-400 border rounded-md focus:outline-none focus:shadow-outline-blue focus:border-blue-300" %>
      </div>
    
      <div class="mb-4">
        <%= f.label :self_introduction, class: "block text-gray-700 text-sm font-bold mb-2" %>
        <%= f.text_area :self_introduction, class: "form-input w-full px-3 py-2 placeholder-gray-400 border rounded-md focus:outline-none focus:shadow-outline-blue focus:border-blue-300" %>
      </div>
    
      <div class="mb-4">
        <%= f.label :role, class: "block text-gray-700 text-sm font-bold mb-2" %>
        <%= f.select :role, User.roles.keys.map { |k| [I18n.t("enums.user.role.#{k}"), k] }, {}, class: "form-input w-full px-3 py-2 placeholder-gray-400 border rounded-md focus:outline-none focus:shadow-outline-blue focus:border-blue-300" %>
      </div>
    
      <div class="mb-4">
        <%= f.label :avatar, for: 'avatar-file', class: "block text-gray-700 text-sm font-bold mb-2" %>
        <%= f.file_field :avatar, id: 'avatar-file', class: "form-input", accept: 'image/*', onchange: "previewImage(this);" %>
        <%= f.hidden_field :avatar_cache %>
      </div>
    
      <div class="mb-4">
        <%= image_tag @user.avatar_url, id: 'preview', class: 'w-full rounded-md' %>
      </div>

      <div class="mb-4">
        <%= f.check_box :remove_avatar %>
        <%= f.label :remove_avatar, "画像の設定を解除する" %>
      </div>

      <div class="mb-4">
        <%= f.submit "更新", class: "bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" %>
      </div>
    <% end %>
  </div>
</div>