<h1>・ユーザーの名前</h1>
<h1><%= @user.name%></h1>

<h1>・ユーザーのメールアドレス</h1>
<h1><%=@user.email%></h1>

<h1>・自己紹介文</h1>
<h1><%=@user.self_introduction %></h1>

<h1>・ユーザー権限</h1>
<h1><%= @user.role_i18n %></h1>

<h1>・作成日</h1>
<h1><%= @user.created_at.strftime('%Y年%m月%d日 %H時%M分') %></h1>
