<div class="min-h-screen flex items-center justify-center">
<%= form_with url: admin_login_path, method: :post do |f| %>
<form class="bg-white p-8 shadow-md rounded-md w-96">
  <div class="mb-4">
    <%= f.label :email, class: "block text-sm font-bold mb-2" %>
    <%= f.email_field :email, class: "text-black form-input w-full py-2 px-3 border rounded-md focus:outline-none focus:shadow-outline" %>
  </div>
  <div class="mb-4">
    <%= f.label :password, class: "block text-white text-sm font-bold mb-2" %>
    <%= f.password_field :password, class: "text-black form-input w-full py-2 px-3 border rounded-md focus:outline-none focus:shadow-outline" %>
  </div>
  <div class="mb-4">
    <%= f.submit "ログイン", class: "bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" %>
  </div>
</form>
<% end %>
</div>

<!--- 管理者ログインページ -->